In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
executable_path = {'executable_path': r'C:\Users\mdcra\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
##NASA MARS NEWS SITE##

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'lxml')

In [5]:
article = soup.find('li', class_="slide")

In [6]:
news_title = article.find('div', class_='content_title').get_text()
news_title

"NASA Readies Perseverance Mars Rover's Earthly Twin "

In [7]:
news_p = article.find('div', class_='article_teaser_body').get_text()
news_p

"Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape."

In [8]:
##JPL Mars Space Images - Featured Image##

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
html = browser.html
soup = bs(html, 'lxml')

In [10]:
image = soup.find('article', class_='carousel_item').get("style")
image

"background-image: url('/spaceimages/images/wallpaper/PIA19092-1920x1200.jpg');"

In [11]:
splits = image.split("'")
url = splits[1]
url

'/spaceimages/images/wallpaper/PIA19092-1920x1200.jpg'

In [13]:
featured_image_url = f'https://www.jpl.nasa.gov{url}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19092-1920x1200.jpg'

In [14]:
##MARS FACTS##

df = pd.read_html('https://space-facts.com/mars/')[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [15]:
df.columns=["Mars"," "]
df.head()

                   Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [16]:
df.set_index("Mars", inplace=True)
df

Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n    </tr>\n    <tr>\n      <th>Mars</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
##MARS HEMISPHERES##

url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [19]:
hemispheres = []

In [20]:
# loop through links, first talking the title name, then clicking and getting the image url
for i in range(4):
    hemi = {}
    
    hemi['title'] = browser.find_by_css("a.product-item h3").text
    
    # clicking link
    browser.find_by_css("a.product-item h3")[i].click()
    
    # sample takes us to image link
    sample= browser.links.find_by_text('Sample')
    hemi['img_url'] = sample['href']
  
    # append to list
    hemispheres.append(hemi)
    
    browser.back()

In [21]:
hemispheres

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]